* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    min-width: 1260px;
    font-family: PingFang SC,
        Lantinghei SC,
        Microsoft YaHei,
        HanHei SC,
        Helvetica Neue,
        Open Sans,
        Arial,
        Hiragino Sans GB,
        微软雅黑,
        STHeiti,
        WenQuanYi Micro Hei,
        SimSun,
        sans-serif,
        HYWenHei-GEW !important;
}

a {
    text-decoration: none;
}

/* header部分---------------------------------------------------------------------------------- */
.page-header {
    width: 100%;
    padding: 0 30px;
    background-color: #fff200;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1843px;
    margin: 0 auto; */
}

.header-left {
    flex-shrink: 0;
}

.header-left-logo {
    position: absolute;
    top: 18px;
    left: 0;
    display: block;
    width: 120px;
    height: 20px;
    color: rgb(40, 40, 40);
}

.header-left-nav {
    display: flex;
    margin-left: 160px;
    text-align: center;
}

.header-left-nav-item {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 24px;
    text-align: center;
}

.header-left-nav-item-link:hover {
    color: rgb(34, 34, 34);
}

.header-left-nav-item.last {
    padding: 0 20px;
}

.header-left-nav-item-link {
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
}

.header-left-nav-icon-dot {
    position: absolute;
    top: 0;
    display: inline-block;
    margin: 0 0 2px 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4a3b;
}

.header-left-nav-icon-label {
    position: absolute;
    top: -13px;
    right: -45px;
}

.header-left-nav-item-link.last {
    display: flex;
    align-items: center;
    color: #000000a6;

}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 24px;
    width: 100%;
}

.header-right-search {
    display: flex;
    align-items: center;
    height: 34px;
    max-width: 540px;
    min-width: 154px;
    margin-right: 20px;
    flex: 1 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
}

.header-right-search:hover {
    border: 1px solid #555;
}

.header-right-search-input {
    position: relative;
    padding: 0 12px;
    font-size: 14px;
    border: 0;
    outline: 0;
    color: #444;
    flex: 1 1;
}


.header-right-search-pic-bg {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    background: url(images/icon-image-xiangji.svg);

}

._newTag_11wep_511 {
    position: absolute;
    left: 10px;
    top: -7px;
}

.header-right-search-svg {
    margin-right: 12px;
    color: #888;
}

.header-right-self {
    display: flex;
    align-items: center;
    padding: 13px 20px;
    text-align: center;
}

._tab_icon_11wep_9 {
    color: #000000a6;
}

.header-right-btn {
    display: flex;
    align-items: center;
}

.header-right-login {
    display: inline-block;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    cursor: pointer;
    border-radius: 0px;
}

.header-right-login:hover {
    color: #222;
}

.header-right-signup {
    display: inline-block;
    margin-left: 32px;
    padding: 7px 24px;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    background-color: #222;
}

.header-right-signup:hover {
    background-color: #4e4e4e;
}

/* swiper部分------------------------------------------------------------------ */
.swiper-section {
    padding-top: 20px;
}

.swiper-container {
    max-width: 1400px;
    margin: 0px auto;
    height: 350px;
    padding: 0 10px;
}

.swiper-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* pic-nav部分---------------------------------------------------------------- */
.pic-nav-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 80px 32px;
}

.pic-nav-item {
    position: relative;
    width: calc((1743px - 100px) / 6);
    margin-right: 20px;
    font-size: 0;
}

.pic-nav-item:last-child {
    margin-right: 0;
}

.pic-nav-item span {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: block;
    padding: 1px 4px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.pic-nav-item img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/* filter部分 --------------------------------------------------------------- */
.filter-section {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.filter-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1743px;
    height: 56px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.filter-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.filter-content span {
    margin: 0px 15px;
}

.filter-content-link {
    display: inline-block;
    padding: 16px 30px;
    color: rgb(153, 153, 153);
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.filter-content-link:hover {
    color: rgb(34, 34, 34);
    font-weight: 500;
}

.filter-content-link.focus {
    color: rgb(34, 34, 34);
    font-weight: 500;
    border-color: rgb(34, 34, 34);
}

.filter-logo {
    position: absolute;
    right: 0px;
    bottom: 1px;
    font-size: 0;
}

.filter-logo img {
    height: 55px;
}

/* content-wrapper部分---------------------------------------------------------- */
.content-wrapper-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1743px;
    margin: 0 auto;
    padding-top: 32px;
}

.content-wrapper-container.second {
    padding-top: 0;
}

.content-wrapper-item {
    margin-right: 24px;
    margin-bottom: 36px;
    width: calc((100% - 96px) / 5);
}

.content-wrapper-item:nth-child(5n) {
    margin-right: 0;
}

.content-wrapper-item-pic {
    position: relative;
    width: 100%;
}

.content-wrapper-item-pic img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.content-wrapper-item-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.content-wrapper-item-text-left {
    display: block;
    flex: 1 1 0%;
    max-width: 100%;
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    border-radius: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.content-wrapper-item-text-left:hover {
    color: rgb(255, 115, 0);
}

.content-wrapper-item-text-right {
    display: inline-flex;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: center;
}

.content-wrapper-item-text-right img {
    width: 16px;
    height: 16px;
}

.content-wrapper-item-text-right span {
    display: inline-block;
    margin-left: 4px;
    color: rgb(85, 85, 85);
    font-size: 12px;
    font-weight: 500;
}

.content-wrapper-item-text-right.hot span {
    font-size: 14px;
}

.content-wrapper-item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.content-wrapper-item-name-inner {
    margin-right: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0;
}

.content-wrapper-item-name-inner span:hover {
    color: rgb(255, 115, 0);
}

.content-wrapper-item-name-inner-first {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0;
}

.content-wrapper-item-name-inner-pic img {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    border-radius: 50%;
}

.content-wrapper-item-name-inner span {
    display: block;
    margin-left: 8px;
    color: rgb(85, 85, 85);
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-wrapper-item-name-inner-icon {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 14px;
    height: 14px;
    margin-left: 4px;
}

.content-wrapper-item-name-inner-icon img {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

/* creation部分--------------------------------------------------------- */
.creation-section {
    background-color: #f5f5f5;
    margin-bottom: 36px;
}

.creation-container {
    max-width: 1743px;
    margin: 0 auto;
}

.creation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 30px;
    width: 100%;
}

.creation-title.recommend {
    margin-bottom: 0;
}

.creation-title.hot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
    padding-top: 27px;
    width: 100%;
}

.title-left {
    display: inline-block;
    color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 500;
}

.title-right {
    display: inline-block;
    margin-right: 10px;
    color: rgb(85, 85, 85);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;
}

.title-right-box {
    font-size: 0;
}

.title-right-box img {
    display: block;
}

.creation-list {
    display: flex;
}

.creation-list.recommend {
    padding: 20px 0;
}

.creation-item {
    margin-bottom: 30px;
    margin-left: 24px;
    width: 240px;
    font-size: 0;
}

.creation-item.hot {
    margin-left: 20px;
}

.creation-item.recommend {
    margin-left: 24px;
    margin-bottom: 10px;
}

.creation-item:first-child {
    margin-left: 0;
}

.creation-item.hot:first-child {
    margin-left: 0;
}

.creation-item.recommend:first-child {
    margin-left: 0;
}

.creation-item-pic {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.live-intro {
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    font-weight: 500;
    border-radius: 4px;
    background: rgba(255, 71, 26, 0.9);
    backdrop-filter: blur(6px);
}

.creation-item-pic img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.creation-item-pic.hot img {
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.creation-item-content {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.creation-item-content-title {
    display: block;
    color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.creation-item-content-title.recommend {
    font-size: 16px;
}

/* hot部分-------------------------------------------------------------------- */
.hot-section {
    background-color: #f5f5f5;
    margin-bottom: 36px;
}

.hot-container {
    max-width: 1743px;
    margin: 0 auto;
}

/* recommend部分-------------------------------------------------------------- */
.recommend-section {
    background-color: #f5f5f5;
    margin-bottom: 36px;
}

.recommend-container {
    max-width: 1743px;
    margin: 0 auto;
}


/* pagination部分----------------------------------------------------------------------- */
.pagination-section {
    margin-top: 10px;
    margin-bottom: 52px;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    background: rgb(245, 245, 245);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: rgb(34, 34, 34);
}

.pagination-item:first-child {
    margin-left: 0;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

.pagination-item:last-child {
    margin-left: 6px;
}

.pagination-item:first-child:hover {
    background: rgb(67, 67, 67);
}

.pagination-item:hover {
    background: rgb(229, 229, 229);
}

/* footer部分-------------------------------------------------------------- */
.page-footer {
    width: 100%;
    height: 32px;
}

.footer-section {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 32px;
    min-width: 1440px;
    padding: 0px 30px;
    font-weight: 400;
    font-size: 12px;
    color: rgb(85, 85, 85);
    border-top: 1px solid rgb(237, 237, 237);
    background-color: rgb(255, 255, 255);
}

.footer-left {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-left-item {
    display: flex;
    align-items: center;
}

.footer-left-item-inner {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-size: 0;
}

.footer-left-item-inner span {
    display: inline-block;
    margin-right: 6px;
    color: rgb(85, 85, 85);
    font-size: 12px;
    line-height: 20px;
}

.footer-left-item-inner img {
    width: 16px;
    height: 13px;
}

.footer-center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-center a {
    line-height: 32px;
    margin-right: 16px;
    color: inherit;
}

.footer-right {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-right a {
    margin-right: 12px;
    color: inherit;
}

.footer-right a:hover {
    color: rgb(255, 115, 0);
}

.footer-center a:hover {
    color: rgb(255, 115, 0);
}

.footer-right .a-lastone {
    margin-right: 0;
}